{% extends 'base.html.twig' %}

{% block title %}Add new Image{% endblock %}

{% block body %}
    <section class="header-main">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="container col-xl-6 col-sm-12">
                    <header class="card-header">
                        <h1 class="card-title mt-2">Add new Image</h1>
                    </header>
                    {{ include('image/_form.html.twig') }}
                    <a href="{{ path('image_index') }}">Back to list</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
