{% extends 'base.html.twig' %}

{% block title %} About us {% endblock %}

{% block body %}
<body background="{{ asset('assets/main/img/symphony.jpg') }} ">
    <div class="bg-light">
        <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                <h1 class="display-4">About us</h1>

                <div class="row text-center">
                    <div class="col-xl-4 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4">
                            <img
                                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png"
                                    alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5 class="mb-0">Astafi Valentina</h5><span
                                    class="small text-uppercase text-muted">Developer</span>
                            <ul class="social mb-0 list-inline mt-3">
                                <div class="btn-group white">
                                    <li class="list-inline-item">
                                        <a class="btn btn-facebook" title="Facebook" target="_blank" href="#">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="btn btn-youtube" title="Youtube" target="_blank" href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="btn btn-instagram" title="Instagram" target="_blank" href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="btn btn-youtube" title="Linkedin" target="_blank" href="#">
                                            <i class="bi bi-youtube"></i>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-5">
                        <div class="bg-white rounded shadow-sm py-5 px-4">


                            <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                                 class="img-fluid"></div>
                    </div>
                </div>
            </div>
            <p class="text-left w-responsive mx-auto pb-5">
                <br>
                Welcome to Shop Sore, your number one source for all things electronic: phones, laptops,
                printers. We are dedicated to offering you the best of the stock we have, with a focus on three
                features: reliability, customer service and uniqueness.
                Founded in 2021, Shop Store has come a long way since its inception, as beginners in this field
                we have tried to dedicate our time and make an obvious result. I turned work and inspiration
                into a booming online store. We now serve customers around the world and are excited to be a
                part of fair trade in the industry.
                <br>
                We hope you enjoy our products as much as we offer you. If you have any questions or comments,
                please do not hesitate to contact us.
            </p>
        </div>
    </div>
    </div>
{% endblock %}