<section class="header-main">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            {% if "/admin/user" in app.request.requestUri %}
                <form class="form-inline my-2 my-lg-0"
                      action="{{ path('user_index', {email:'email'}) }}" method="GET">
                    <label>
                        <input class="form-control mr-sm-2" type="search" value="{{ app.request.query.get('email') }}"
                               placeholder="Search user"
                               aria-label="Search" name="email">
                    </label>
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
                </form>
            {% endif %}
        </div>
    </div>
</section>